.about-nineteen-bucks{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;   
    margin-top: 50px; 
    margin-bottom: 20px;
}
.about-nineteen-bucks-definition{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-bottom: 50px;
}
.our-story{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-bottom: 50px;
}
.our-story h3{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2em;
    color: grey;
}
.our-mission{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-bottom: 50px;
}
.our-mission h3{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2em;
    color: grey;
}
.why-choose{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-bottom: 50px;
}
.why-choose h3{
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 2em;
    color: grey;
}
.why-choose h4{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2em;
}
.why-choose ul li{
    font-size: 1.5em;
    margin-left: 50px;
}